<?xml version="1.0" encoding="utf-8" ?>
<c2eventsheet>
    <!--All the 'name' attributes are ignored by Construct 2 - they are there for readability only.-->
    <name>menu</name>
    <events>
        <variable constant="0" name="current_menu" sid="574404449259334" static="0" type="text">mode</variable>
        <include>settings</include>
        <event-block sid="893470295847282">
            <conditions>
                <condition id="3" name="On touched object" sid="781224380659023" type="Touch">
                    <param id="0" name="Object">main_menu_buttons</param>
                </condition>
            </conditions>
            <actions>
                <action id="-9" name="Set value" sid="709357134226855" type="System">
                    <param id="0" name="Variable">current_menu</param>
                    <param id="1" name="Value">main_menu_buttons.layout</param>
                </action>
                <action id="-7" name="Scroll to position" sid="885817512371458" type="System">
                    <param id="0" name="X">main_menu_buttons.scroll_x</param>
                    <param id="1" name="Y">main_menu_buttons.scroll_y</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="877744315136202">
            <conditions>
                <condition id="3" name="On touched object" sid="442644270696402" type="Touch">
                    <param id="0" name="Object">final_menu_buttons</param>
                </condition>
            </conditions>
            <actions>
                <action id="1" name="Set key" sid="491268012042437" type="settings">
                    <param id="0" name="Key">&quot;layout&quot;</param>
                    <param id="1" name="Value">final_menu_buttons.type&amp;&quot;_&quot;&amp;final_menu_buttons.layout</param>
                </action>
                <action id="-2" name="Go to layout" sid="845264038917363" type="System">
                    <param id="0" name="Layout">main</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="747242799746251">
            <conditions>
                <condition id="17" name="On back button" sid="269548696094809" type="Browser" />
            </conditions>
            <actions />
            <sub-events>
                <event-block sid="817016558115568">
                    <conditions>
                        <condition id="-14" name="Compare variable" sid="716577593106781" type="System">
                            <param id="0" name="Variable">current_menu</param>
                            <param id="1" name="Comparison">0</param>
                            <param id="2" name="Value">&quot;mode&quot;</param>
                        </condition>
                    </conditions>
                    <actions>
                        <action id="1" name="Close" sid="178027181404836" type="Browser" />
                    </actions>
                </event-block>
                <event-block sid="279998330816984">
                    <conditions>
                        <condition id="-14" name="Compare variable" sid="438087693259625" type="System">
                            <param id="0" name="Variable">current_menu</param>
                            <param id="1" name="Comparison">1</param>
                            <param id="2" name="Value">&quot;mode&quot;</param>
                        </condition>
                    </conditions>
                    <actions>
                        <action id="-7" name="Scroll to position" sid="540105638268944" type="System">
                            <param id="0" name="X">320</param>
                            <param id="1" name="Y">180</param>
                        </action>
                        <action id="-9" name="Set value" sid="603511317001572" type="System">
                            <param id="0" name="Variable">current_menu</param>
                            <param id="1" name="Value">&quot;mode&quot;</param>
                        </action>
                    </actions>
                </event-block>
            </sub-events>
        </event-block>
    </events>
</c2eventsheet>
