<?xml version="1.0" encoding="utf-8" ?>
<c2eventsheet>
    <!--All the 'name' attributes are ignored by Construct 2 - they are there for readability only.-->
    <name>settings</name>
    <events>
        <event-block sid="402080968650695">
            <conditions>
                <condition id="-2" name="On start of layout" sid="352468621418635" type="System" />
            </conditions>
            <actions>
                <action id="0" name="Add key" sid="551056949021955" type="settings">
                    <param id="0" name="Key">&quot;counter_base_width&quot;</param>
                    <param id="1" name="Value">0</param>
                </action>
                <action id="0" name="Add key" sid="375159576824365" type="settings">
                    <param id="0" name="Key">&quot;counter_base_height&quot;</param>
                    <param id="1" name="Value">0</param>
                </action>
                <action id="0" name="Add key" sid="190966671865855" type="settings">
                    <param id="0" name="Key">&quot;orientation&quot;</param>
                    <param id="1" name="Value">Function.Call(&quot;getScreenOrientation&quot;)</param>
                </action>
                <action id="0" name="Add key" sid="168802116867451" type="settings">
                    <param id="0" name="Key">&quot;single_arrow_value&quot;</param>
                    <param id="1" name="Value">10</param>
                </action>
                <action id="0" name="Add key" sid="762047605601784" type="settings">
                    <param id="0" name="Key">&quot;double_arrow_value&quot;</param>
                    <param id="1" name="Value">1000</param>
                </action>
                <action id="0" name="Add key" sid="806113326267700" type="settings">
                    <param id="0" name="Key">&quot;triple_arrow_value&quot;</param>
                    <param id="1" name="Value">10000</param>
                </action>
                <action id="0" name="Add key" sid="282788188491369" type="settings">
                    <param id="0" name="Key">&quot;layout&quot;</param>
                    <param id="1" name="Value">&quot;&quot;</param>
                </action>
                <action id="0" name="Add key" sid="111042110025163" type="settings">
                    <param id="0" name="Key">&quot;counter_arrow_offset_x&quot;</param>
                    <param id="1" name="Value">0</param>
                </action>
                <action id="0" name="Add key" sid="977845011721680" type="settings">
                    <param id="0" name="Key">&quot;counter_arrow_offset_y&quot;</param>
                    <param id="1" name="Value">0</param>
                </action>
                <action id="0" name="Add key" sid="498178616751467" type="settings">
                    <param id="0" name="Key">&quot;counter_arrow_offset_y_down&quot;</param>
                    <param id="1" name="Value">0</param>
                </action>
                <action id="0" name="Add key" sid="259923230527893" type="settings">
                    <param id="0" name="Key">&quot;counter_arrow_size_multiplier&quot;</param>
                    <param id="1" name="Value">0</param>
                </action>
                <action id="0" name="Add key" sid="379567558707955" type="settings">
                    <param id="0" name="Key">&quot;counter_text_size_default&quot;</param>
                    <param id="1" name="Value">0</param>
                </action>
                <action id="0" name="Add key" sid="829578963402075" type="settings">
                    <param id="0" name="Key">&quot;counter_text_size_four_chars&quot;</param>
                    <param id="1" name="Value">0</param>
                </action>
                <action id="0" name="Add key" sid="130934036862851" type="settings">
                    <param id="0" name="Key">&quot;counter_text_size_five_chars&quot;</param>
                    <param id="1" name="Value">0</param>
                </action>
                <action id="0" name="Add key" sid="779719536271859" type="settings">
                    <param id="0" name="Key">&quot;counter_text_size_six_chars&quot;</param>
                    <param id="1" name="Value">0</param>
                </action>
                <action id="0" name="Add key" sid="911397544683101" type="settings">
                    <param id="0" name="Key">&quot;counter_text_size_seven_chars&quot;</param>
                    <param id="1" name="Value">0</param>
                </action>
            </actions>
        </event-block>
        <event-group description="" sid="962014844672639" title="Screen orientation">
            <sub-events>
                <event-block sid="834221109050425">
                    <conditions>
                        <condition id="0" name="On function" sid="498505208938159" type="Function">
                            <param id="0" name="Name">&quot;getScreenOrientation&quot;</param>
                        </condition>
                    </conditions>
                    <actions />
                    <sub-events>
                        <event-block sid="479337910281215">
                            <conditions>
                                <condition id="16" name="Is portrait/landscape" sid="724954432915295" type="Browser">
                                    <param id="0" name="Orientation">0</param>
                                </condition>
                            </conditions>
                            <actions>
                                <action id="1" name="Set return value" sid="310729586356863" type="Function">
                                    <param id="0" name="Value">&quot;portrait&quot;</param>
                                </action>
                            </actions>
                        </event-block>
                        <event-block sid="957415960474547">
                            <conditions>
                                <condition id="16" name="Is portrait/landscape" sid="121237731070791" type="Browser">
                                    <param id="0" name="Orientation">1</param>
                                </condition>
                            </conditions>
                            <actions>
                                <action id="1" name="Set return value" sid="732871011631662" type="Function">
                                    <param id="0" name="Value">&quot;landscape&quot;</param>
                                </action>
                            </actions>
                        </event-block>
                    </sub-events>
                </event-block>
            </sub-events>
        </event-group>
    </events>
</c2eventsheet>
